<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <form action="" method="post">
   <legend>Name</legend>
   <input type="text" name="name" id="">
   <legend>Email</legend>
   <input type="email" name="email" id="">
   <legend >Password</legend>
   <input type="password" name="password" id="">
   </form>
  </body>
</html>
